#header {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    /*background-color: violet !important;
    height: 100px !important;*/
}

#header > .logo {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

#header > * {
    -webkit-user-select: auto;
    -webkit-app-region: no-drag;
}

#store-header {
    -webkit-user-select: none;
    -webkit-app-region: no-drag;
}

#store-header > * {
    -webkit-user-select: auto;
    -webkit-app-region: no-drag;
}

#title-bar-btns {
    -webkit-app-region: no-drag;
    /*position: fixed;*/
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100px;
}

#min-btn {
    height: 100%;
    width: 33%;
}

#max-btn {
    height: 100%;
    width: 33%;
}

#close-btn {
    height: 100%;
    width: 33%;
}
